[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule ".vim/pack/my-plugins/opt/papercolor-theme"]
	path = .vim/pack/my-plugins/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule ".vim/pack/my-plugins/opt/lightline.vim"]
	path = .vim/pack/my-plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/my-plugins/opt/vim-syntax-extra"]
	path = .vim/pack/my-plugins/opt/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule ".vim/pack/my-plugins/opt/python-syntax"]
	path = .vim/pack/my-plugins/opt/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule ".vim/pack/my-plugins/opt/vim-visual-star-search"]
	path = .vim/pack/my-plugins/opt/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule ".vim/pack/my-plugins/opt/vim-abolish"]
	path = .vim/pack/my-plugins/opt/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/pack/my-plugins/opt/vim-fugitive"]
	path = .vim/pack/my-plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/my-plugins/opt/vim-surround"]
	path = .vim/pack/my-plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
