# This is Git's per-user configuration file.
[user]
	name = <name> 
	email = <email> 
[core]
	pager = ~/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX
	autocrlf = true
	excludesFile = ~/.gitignore
	editor = vim
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)-%an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%C(dim white)- %an%C(reset)' --all
	pt  = !git tag -l | xargs git tag -d && git fetch -t
	gcn = !git reflog expire --all --expire=now && git gc --prune=now --aggressive
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
#[diff]
#	tool = tortoisediff
#[difftool]
#	prompt = false
#[merge]
#	tool = tortoisemerge
#[mergetool]
#	prompt = false
#	keepBackup = false
#[difftool "tortoisediff"]
#	cmd = '/cygdrive/c/Program Files/TortoiseSVN/bin/TortoiseMerge.exe' -mine "$(cygpath -w $REMOTE)" -base "$(cygpath -w $LOCAL)"
#[mergetool "tortoisemerge"]
#	cmd = '/cygdrive/c/Program Files/TortoiseSVN/bin/TortoiseMerge.exe' -base "$(cygpath -w $BASE)" -theirs "$(cygpath -w $REMOTE)" -mine "$(cygpath -w $LOCAL)" -merged "$(cygpath -w $MERGED)"
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
